<div class="col-md-3 page-sidebar">
  <div class="widget sidebar-widget">
    <% if content_for? :sidebar_title %>
      <div class="sidebar-widget-title">
        <h3>Events Categories</h3>
      </div>
    <% end %>
    <div class="list-group">
      <%= yield :sidebar %>
    </div>
  </div>
</div>
