<h2><%= nls(:signup_title) %></h2>

<% resource.user_profile || resource.build_user_profile %>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), wrapper: :bs3_vertical_form) do |f| %>
  <%= field_set_tag  do %>
    <%= devise_error_messages! %>

    <%= f.input :email, label: nls(:signup_email), required: true %>
    <%= f.input :password, label: nls(:signup_password), required: true %>
    <%= f.input :password_confirmation, label: nls(:signup_password_confirm), required: true %>

    <%= f.fields_for :user_profile, resource.user_profile, wrapper: :bs3_vertical_form do |builder| %>
      <%= builder.input :public_name, label: nls(:signup_public_name), required: true, hint: nls(:signup_public_name_hint) %>

      <hr />
      <% if I18n.locale == :ja %>
        <%= builder.input :last_name, label: nls(:signup_last_name), required: true %>
        <%= builder.input :first_name, label: nls(:signup_first_name), required: true %>
      <% else %>
        <%= builder.input :first_name, label: nls(:signup_first_name), required: true %>
        <%= builder.input :last_name, label: nls(:signup_last_name), required: true %>
      <% end %>
      <%= builder.input :country_id, collection: ut_country_select_collection(false), label: nls(:signup_country), required: true %>
    <% end %>

    <div class="form--group">
      <%= add_recaptcha %>
    </div>

    <% if false %>
      <p><strong><%= nls(:signup_3,
              terms: (link_to "Terms and Conditions", dm_cms.showpage_url('terms'), target: '_blank', style: 'color: #A17B1C;'),
              privacy: (link_to "Privacy Policy", dm_cms.showpage_url('privacy'), target: '_blank', style: 'color: #A17B1C;')) %>
      </strong></p>
    <% end %>

    <div class="form-horizontal control-group">
      <div class='controls'>
        <%= f.submit nls(:signup_register_button), class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
<% end %>

<hr />

<%= render "links" %>
