        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website <%= Time.now.year %></p>
                </div>
            </div>
        </footer>

