<%= render :partial => "layouts/cms_templates/page_header" %>

<%= render :partial => "layouts/cms_templates/page_top", locals: {home_page: true} %>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header"><%= @current_page.title %></h1>
      </div>
    </div>

    <div class="row">
      <!-- Sidebar Column -->
      <div class="col-md-3">
        <div class="list-group">
          <% @current_page.parent.children.each do |page| %>
            <% if allow_page_in_menu?(page) %>
              <% unless page.divider? %>
                <% active = (on_current_page?(page) ? 'active' : '') %>
                <%= link_to page.menutitle, dm_cms.showpage_url(page.slug), class: ['list-group-item', active].join(' ') %>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <%= content_by_name :sidebar %>

      </div>
      <!-- Content Column -->
      <div class="col-md-9">
        <%= content_by_name :body %>
      </div>
    </div>
    <%= render :partial => "layouts/cms_templates/page_footer" %>

  </div>
  <!-- /.container -->
  <%= content_for :footer_scripts %>

</body>
</html>
