<h2><%= nls(:forgot_title) %></h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), wrapper: :bs3_vertical_form, :html => { :method => :post }) do |f| %>
  <%= field_set_tag  do %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email, nls(:signup_email) %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>

        <%= f.submit nls(:forgot_email_password_button), :class => 'btn btn-primary' %>
  <% end %>
<% end %>

<hr>

<%= render "links" %>
