<div class="devise_links">
  <%- if controller_name != 'sessions' %>
   <div class="small"><%= link_to nls(:signin_link), new_session_path(resource_name) %></div>
  <% end -%>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <div class="small"><%= link_to nls(:signin_register_link), new_registration_path(resource_name) %></div>
  <% end -%>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
    <div class="small"><%= link_to nls(:signin_forgot_password_link), new_password_path(resource_name) %></div>
  <% end -%>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <div class="small"><%= link_to nls(:signin_confirmation_instructions_link), new_confirmation_path(resource_name) %></div>
  <% end -%>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <div class="small"><%= link_to nls(:signin_unlock_instructions_link), new_unlock_path(resource_name) %></div>
  <% end -%>

  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <div class="small"><%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %></div>
    <% end -%>
  <% end -%>
</div>
